<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link th:href="@{../css/welcome.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:src="@{/js/welcome.js}"></script>
    <script th:src="@{/js/jQuery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<body>
<div th:replace="template :: navbar"></div>
<div id="headerwrap" class="fade-in-top" >

    <div style="padding-top: 250px ; display: none;"  id="btt" >
        <a class="bt w-button" th:href="@{/renting?carId=}"
           th:text="#{welcome.start.label}">
        </a>
    </div>
    <div style="padding-top: 400px ; display: none" id="arrow">
        <a href="#carouselrwrap" class="scroll">
            <img height="140" th:src="@{/pictures/arrow2.png}"/>
        </a>
    </div>
</div>

<div id="carouselrwrap" style="width: 100%" align="center">
    <div align="center">
        <h1>
            <p th:text="#{welcome.offers.label}"></p>
        </h1>
    </div>

    <div class="carousel" id="carou" data-interval="100">
        <div class="carousel-item" id="0"></div>
        <div class="carousel-item" id="1"></div>
        <div class="carousel-item" id="2"></div>
        <div class="carousel-item" id="3"></div>
        <div class="carousel-item" id="4"></div>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>

</html>